.app {
  color: red;
  padding: 10px;
  height: 100%;
}

.main-content {
  height: 100%;
}

#mapid {
  height: 100%;
}

.map-wrapper {
  height: 80%;
}

body {
  height: 100vh;
  margin: 0px;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}
